<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; EndeavorOps, LLC 2015-2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://github.com/endeavorops"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://facebook.com/endeavorops"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
              <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#" data-toggle="modal" data-target="#privacy">Privacy Policy</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#return">Return Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myprivacy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myprivacy">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <p><em>What do you do with the information you collect?</em></p>
        <p>EndeavorOps, LLC will only collect and use your personal information in order to make our services better, faster, and more convenient for you. We will never disclose your personal information without your explicit consent.</p>
        <p><em>Will this privacy policy change?</em></p>
        <p>As EndeavorOps evolves, this privacy policy is likely to evolve with it. We will not reduce your rights under this policy without your explicit consent. We will post any policy changes on this page and, if the changes are significant, we will provide a more prominent notice.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="return" tabindex="-1" role="dialog" aria-labelledby="myReturnPolicy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myReturnPolicy">Refund Policy</h4>
      </div>
      <div class="modal-body">
        <p>You can easily cancel your subscription at any time. There are no cancellation fees, though no refunds are provided for prorated periods.</p>
        <p>Service fees are not refundable.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
